#footer{
    // position:absolute;
    // bottom: 0;
    //width: 96%; //I'm just eyeballing this, if it's 100% the body becomes wider than the view port



    // justify-self: end;
    // display: grid;
    // grid-auto-flow: column;
    // grid-template-columns: auto auto auto;
    // grid-template-rows: 1rem;

    background-color: gray;

    // padding: 0.5rem;

    // margin-top: 1rem;
}

.footer-link{
    color: white;
    font-size: small;
}

.empty-cell{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

