#footer{
    // display: grid;
    // grid-auto-flow: column;
    // grid-template-columns: auto auto auto;
    // grid-template-rows: 1rem;

    background-color: gray;

    // padding: 0.5rem;

    // margin-top: 1rem;


    //position: absolute;

    //bottom: 0; //this is the bottom of the view port not the bottom of the container
    //width: 100%; //this does something strange to the overall width of the app
}

.footer-link{
    color: white;
    font-size: small;
}

.empty-cell{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

