#footer{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1rem;

    background-color: gray;

    padding: 0.5rem;

    width: 100%;
}

.footer-link{
    color: white;
    font-size: small;
}

.empty-cell{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

