#main{
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;

    // margin-left: 0;
    // margin-right: 0;

    width: 100%;

    .container{
        margin-left: 0;
        margin-right: 0;  
        padding: 0;      
    }
}