@import 'Variables.scss';

@mixin navSliderCommon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; 
    top: 4rem;
    left: -45vw; 
    width: 33vw;
    height: 100vh;
    background-color: $complementary-color;
    z-index: $standard-overlay-z-index;
    margin: 0;
}

#nav-bar{
    display: flex;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    height: $post-navbar-y-offset;
    position: fixed;
    z-index: $standard-overlay-z-index;
    margin: 0;
    padding: $navbar-padding;

    top: 0;
}

#right-hand-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 10rem;
    //margin-left: auto;
    margin-right: 1rem;
}

#nav-slider{
    @include navSliderCommon();

    transform: translateX(0%);
    transition: transform 0.2s ease-in;
}
#nav-slider-active{
    @include navSliderCommon();

    transform: translateX(100%);
    transition: transform 0.2s ease-out;
}

#slider-container{
    display: none;
}

#slider-container-translucent{
    display: block;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: $standard-overlay-z-index - 1;
}