@import 'Variables.scss';

.product-card{
    position: relative;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    border-radius: 0.5rem; 
    width: 100%;

    padding-top: 150%;
}

.product-pic-container{
    width: 100%;
    height: 66.7%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;

}
.product-pic{
    max-height: 90%;
    max-width: 90%;
    display: block;
    margin: auto;
}

.info-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: $primary-color-faded;
    border-radius: 0 0 0.5rem 0.5rem;
}

.price-group{
    display: flex;
}

.product-price, .product-price-strikethrough, .discount-price{
    margin: 0.5rem 0 0 0.5rem;
}

.product-price-strikethrough{
    text-decoration: line-through;
}

.discount-price{
    color: red;
}

.product-title{
    display: block;
    // overflow-inline: ellipsis;
    // max-lines: 3;
    text-overflow: ellipsis;
    //word-wrap: break-word;
    overflow: hidden;
    max-height: 3rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

//test
.blah{
    display: none;
}