@import './Variables.scss';
@import './Mixins.scss';

// @mixin centerColumnItems {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

@mixin socialMediaSubmitCommon($backgroundColor) {
    background-color: $backgroundColor; 
    color: white;
}

@mixin loginInputCommon($width, $height, $fontSize, $fontWeight, $padding, $borderStyle, $borderWidth, $borderColor, $borderRadius) {
    width: $width;
    height: $height;
    font-size: $fontSize;
    font-weight: $fontWeight;
    padding: $padding; 
    border: $borderStyle $borderWidth $borderColor;
    border-radius: $borderRadius;
}

#user-login{
    @include centerColumnItems();

    > * {
        margin: 0 0 2rem 0;
    }
}

#login-form{
    @include centerColumnItems();
    margin-top: $post-navbar-y-offset;

    > * {
        margin: 2rem 0 0 0;
    }
}

#email-field, #password-field{
    @include loginInputCommon(20rem, 2rem, medium, normal, 0 1rem, solid, 1px, $faded-text-color, 0.4rem);
    &::placeholder{
        color: $faded-text-color;
    }
}

#submit-credentials{
    @include loginInputCommon(22rem, 3rem, large, bolder, 0 1rem, none, 666px, #666, 0.4rem);
    @include socialMediaSubmitCommon($primary-color);
}

.gray-text{
    margin: 0;
    color: rgb(155, 155, 155);
    font-weight: 400;
}

#or-signin-with, #or-signup{
    @include centerColumnItems();
}

#login-facebook{
    @include loginInputCommon(22rem, 3rem, large, bolder, 0 1rem, none, 666px, #666, 0.4rem);
    @include socialMediaSubmitCommon(rgb(57, 36, 134));
}
#login-google{
    @include loginInputCommon(22rem, 3rem, large, bolder, 0 1rem, none, 666px, #666, 0.4rem);
    @include socialMediaSubmitCommon(rgb(155, 16, 86));
}
#login-twitter{
    @include loginInputCommon(22rem, 3rem, large, bolder, 0 1rem, none, 666px, #666, 0.4rem);
    @include socialMediaSubmitCommon(rgb(36, 103, 230));
}

#sign-up{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
}
