$product-card-fr-width: 1fr;
$product-card-fr-height: 0.33fr;

$primary-color: #51d4ad;
$primary-color-light: #84dbc0;
$primary-color-faded: #99e2cc;
$CTA-color: #9c58bd;
$complementary-color: #c4a65e;

$dark-color: #1b121f;

$standard-overlay-z-index: 999;

$post-navbar-y-offset: 3rem;
$navbar-padding: 0.5rem;


